.card {
  box-shadow: lightgray 0 0 5px;
  width: 250px;
  margin: 10px;
}

.image {
  width: 250px;
}

.caption {
  padding: 10px;
}

.sup {
  margin-top: 5px;
  color: grey;
  font-size: 12px;
}

.smallImage {
  color: lightgray;
  width: 250px;
  line-height: 340px;
  text-align: center;
  border-bottom: solid 1px lightgray;
  font-size: 50px;
}
